executor: "KubernetesExecutor"
cleanUpPods: false

images:
  airflow:
    repository: my-dags
    tag: "20260105110455"
    pullPolicy: Never

scheduler:
  replicas: 1

triggerer:
  replicas: 1

workers:
  replicas: 0

redis:
  enabled: false

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: "14.10.0"
    pullPolicy: Never
  auth:
    enablePostgresUser: true
    postgresPassword: postgres
  primary:
    persistence:
      enabled: false

logs:
  persistence:
    enabled: false

dags:
  persistence:
    enabled: false

config:
  core:
    load_examples: 'False'
  webserver:
    expose_config: 'True'
  kubernetes:
    delete_worker_pods: 'False'
    delete_worker_pods_on_failure: 'False'
