executor: "KubernetesExecutor"
cleanUpPods: false

images:
  airflow:
    repository: my-dags
    tag: "20260106092458"
    pullPolicy: Never

scheduler:
  replicas: 1

triggerer:
  replicas: 1

workers:
  replicas: 0

redis:
  enabled: false

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: "14.10.0"
    pullPolicy: Never
  auth:
    enablePostgresUser: true
    postgresPassword: postgres
  primary:
    persistence:
      enabled: false

logs:
  persistence:
    enabled: true  # Fixed the typo and enabled persistence since you're using PVC
    storageClassName: manual
    existingClaim: airflow-logs-pvc

dags:
  persistence:
    enabled: false
  gitSync:
    enabled: true
    repo: https://github.com/nifesimii/Databrikcs-Airflow-Kuberntes_Project-.git
    branch: master
    ref: master
    depth: 1
    subPath: "dags"
    credentialsSecret: git-credentials

config:
  core:
    load_examples: "False"
  webserver:
    expose_config: "True"
  kubernetes:
    delete_worker_pods: "False"
    delete_worker_pods_on_failure: "False"