apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
  - role: worker
    extraMounts:
      - hostPath: /Users/ademoyeoluwanifesimi/Documents/git-projects/Databrikcs-Airflow-Kuberntes_Project/tmp/logs
        containerPath: /mnt/airflow-data/logs
